target/*
project/target/*
project/project/target/*
.idea/misc.xml
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/modules.xml
.idea/misc.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/modules.xml